$white: #FFFFFF !global;
$black: #000000 !global;
$main-grey: #666666 !global;
$light-grey: #e9eaeb !global;
$dark-grey: #8e8e8e !global;
$light-shades: #F9F7F9 !global;
$error: #890000 !global;
$warn: #ffbd00 !global;
