$white: #FFFFFF !global;
$black: #000000 !global;
$main-grey: #666666 !global;
$light-grey-2: #e3e3e3 !global;
$light-grey-1: #fdfdfd !global;
$dark-grey: #1b1c1e !global;
$light-shades: #F9F7F9 !global;
$error: #890000 !global;
$warn: #ffbd00 !global;
$lutra-yellow: #ffdd00 !global;
$lutra-yellow-dark: #e7c500 !global;
