<div class="chat-container">
  <div class="chat-container__header">
    <h3>Комментарии</h3>
  </div>

  <tui-scrollbar class="scrollable-container">
    <div class="chat-container__body" *ngIf="messages | async">
      <div
        #dropdown="tuiDropdown"
        tuiDropdownContext
        [tuiDropdown]="contextMenu"
        *ngFor="let message of (messages | async)"
        class="chat-container__body__message">
        <div class="chat-container__body__message-row justify-start gap-05">
          <span class="chat-container__body__message-author">{{'Author'}}:</span>
          <div class="chat-container__body__message-message"> {{message.payload.text}}</div>
        </div>

        <ng-template #contextMenu>
          <tui-data-list
            role="menu"
            id="context-menu"
            tuiDataListDropdownManager
            class="context-menu">

            <button
              size="s"
              tuiOption
              (click)="deleteMessage(message.payload.id); dropdown.toggle(false)">
              Удалить сообщение
              <tui-svg
                class="icon"
                src="tuiIconTrash2"
              ></tui-svg>
            </button>

            <button
              size="s"
              tuiOption
              (click)="hideUsersMessages(); dropdown.toggle(false)">
              Скрыть все сообщения пользователя
              <tui-svg
                class="icon"
                src="tuiIconTrash2"
              ></tui-svg>
            </button>

            <button
              size="s"
              tuiOption
              (click)="blockUser(1); dropdown.toggle(false)">
              Заблокировать пользователя
              <tui-svg
                class="icon"
                src="tuiIconUserX"
              ></tui-svg>
            </button>

          </tui-data-list>
        </ng-template>
      </div>
    </div>
  </tui-scrollbar>

  <div class="chat-container__input-row">
    <tui-input [formControl]="comment"
               tuiTextfieldSize="m">
      Комментарий
      <input
        (keyup.enter)="sendMessage()"
        tuiTextfield
        type="text"
      />
    </tui-input>
    <!--    <tui-text-area-->
    <!--      [formControl]="comment"-->
    <!--      tuiTextfieldSize="m">-->
    <!--      <textarea-->
    <!--        tuiTextfield></textarea>-->
    <!--      {{'streamPage.comment' | transloco}}-->
    <!--    </tui-text-area>-->
    <div class="chat-container__input-row__send-button">
      <button
        style="z-index: 100;"
        size="xs"
        tuiButton
        type="button"
        appearance="icon"
        (click)="sendMessage()">
        <img src="./assets/img/send-icon-dark.svg" alt="">
      </button>
    </div>
  </div>
</div>

