@import "src/styles/colors";

.t-flag {
  width: 1.75rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

:host {
  width: 100%;
  height: 100%;
  min-width: 400px !important;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  user-select: none;

  &__title {
    display: flex;
    align-items: center;
    width: 15%;
    min-width: 200px;

    img {
      margin-right: 16px;
      max-height: 100px;
      width: 200px;
    }
  }
}

.header__settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .buttons-group {

    button {
      background-color: $dark-grey;
      color: $white !important;
      border-radius: 0;
      font-size: 13px;
      line-height: 1.2;
      letter-spacing: 1px;
    }

    .lutra-button {
      background-color: $lutra-yellow;

      [tuiWrapper][data-appearance='outline'][data-mode='onDark'] {
        color: $black !important;

      }
    }

    .lutra-button:hover {
      background-color: $lutra-yellow-dark;
    }
  }
}

.dropdown-menu {
  display: none;
}

.language-picker {
  width: 150px;
}

.header__navigation {
  display: flex;
}

.navigation {
  padding: 0;
  margin: 0;
  display: flex;
  align-self: flex-end;
  list-style: none;
  width: auto;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__item {
    height: fit-content;
    color: black;
    cursor: pointer;
    padding: 0 8px;
    transition: .2s;
    font-size: 20px;
    white-space: nowrap;
  }

  &__item-active {
    height: fit-content;
    color: $white;
  }

  &__item:focus {
    height: fit-content;
    outline: none;
  }

  &__item:hover {
    //color: $light-main-color;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  .dropdown-menu {
    display: block;
  }

  .header__title {
    width: 25%;
  }

  .header__navigation {
    display: none;
  }

  label {
    padding: 2px 8px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
  .dropdown-menu {
    display: block;
  }

  .header__title {
    width: 25%;
  }

  .header__navigation {
    display: none;
  }

  label {
    padding: 2px 8px;
  }
}

.router-outlet {
  width: 100%;
  height: calc(100% - 100px);
}

@media only screen and (max-width: 1000px) and (min-width: 0px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    height: 120px;

    &__title {
      img {
        margin: 0;
      }
    }
  }

  .header__settings {
    .buttons-group {
      [tuiButton][data-size='m'] {
        --tui-padding: 0.5rem;
      }

      button {
        font-size: 10px;
      }
    }
  }

  .router-outlet {
    width: 100%;
    height: calc(100% - 120px);
    max-height: 100%;
  }
}

//@media only screen and (max-width: 430px) and (min-width: 0px) {
//  .header__settings {
//    .buttons-group {
//      max-width: 375px;
//    }
//  }
//}
