@import "src/styles/colors";
.t-flag {
  width: 1.75rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

:host {
  width: 100%;
  height: 100%;
  min-width: 400px !important;
  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  user-select: none;

  &__title {
    display: flex;
    align-items: center;
    width: 40%;

    img {
      margin-right: 16px;
      width: 100%;
      max-height: 90px;
    }
  }
}

.header__settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown-menu {
  display: none;
}

.language-picker {
  width: 150px;
}

.header__radio{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  margin-left: 8px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

input[type=radio]:checked + label{
  font-weight: 600;
  background: $light-grey;
  transition: .2s;
}

.radio-group {
  user-select: none;
  border: solid 2px $light-grey;
  display: inline-block;
  border-radius: 12px;
  overflow: hidden;
}

label {
  color: black;
  //font-family: ;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 12px;
}

.header__navigation {
  display: flex;
}

.navigation {
  padding: 0;
  margin: 0;
  display: flex;
  align-self: flex-end;
  list-style: none;
  width: auto;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__item {
    height: fit-content;
    color: black;
    cursor: pointer;
    padding: 0 8px;
    transition: .2s;
    font-size: 20px;
    white-space: nowrap;
  }

  &__item-active {
    height: fit-content;
    color: $white;
  }

  &__item:focus {
    height: fit-content;
    outline: none;
  }

  &__item:hover {
    //color: $light-main-color;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 601px)  {
  .dropdown-menu {
    display: block;
  }

  .header__title {
    width: 60%;
  }

  .header__navigation {
    display: none;
  }

  .header {
    padding: 8px;
    height: 75px;
  }

  label {
    padding: 2px 8px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 0px)  {
  .dropdown-menu {
    display: block;
  }

  .header__title {
    width: 60%;
  }

  .header__navigation {
    display: none;
  }

  .header {
    padding: 8px;
    height: 75px;
  }

  label {
    padding: 2px 8px;
  }
}
