<tui-root>
  <div class="header">
    <div class="header__title">
      <img src="./assets/img/white-logo.png" alt="">
    </div>

    <div class="header__settings">

<!--      <tui-hosted-dropdown-->
<!--        #dropdown-->
<!--        [content]="content"-->
<!--        [(open)]="dropdownOpen"-->
<!--        class="dropdown-menu">-->

<!--        <button-->
<!--          tuiIconButton-->
<!--          appearance="flat"-->
<!--          icon="tuiIconMenuLarge"-->
<!--          type="button"-->
<!--          size="s"-->
<!--          [pseudoHover]="dropdown.open || null">-->
<!--        </button>-->

<!--      </tui-hosted-dropdown>-->

<!--      <ng-template-->
<!--        #content-->
<!--        let-activeZone>-->

<!--        <tui-data-list-->
<!--          tuiDataListDropdownManager-->
<!--          [tuiActiveZoneParent]="activeZone"-->
<!--          size="l">-->
<!--          <div class="buttons-group">-->

<!--            <button-->
<!--              tuiOption-->
<!--              size="m"-->
<!--              (click)="showDialog()">-->
<!--              {{'Расписание' | uppercase}}-->
<!--            </button>-->
<!--            <button-->
<!--              size="m"-->
<!--              tuiOption>-->
<!--              {{'Донаты' | uppercase}}-->
<!--            </button>-->
<!--            <button-->
<!--              class="lutra-button"-->
<!--              size="m"-->
<!--              tuiOption>-->
<!--              {{'Войти с помощью lutrastickers.com' | uppercase}}-->
<!--            </button>-->

<!--          </div>-->

<!--        </tui-data-list>-->
<!--      </ng-template>-->

      <div tuiGroup
           class="buttons-group"
           [collapsed]="true">

        <button
          (click)="showDialog()"
          tuiButton
          type="button"
          appearance="outline"
          class="tui-group__auto-width-item"
          size="m">
          {{'Расписание' | uppercase}}
        </button>

        <button
          tuiButton
          type="button"
          appearance="outline"
          class="tui-group__auto-width-item"
          size="m">
          {{'Донаты' | uppercase}}
        </button>

        <button
          class="lutra-button"
          tuiButton
          type="button"
          appearance="outline"
          size="m">
          {{'Войти с помощью lutrastickers.com' | uppercase}}
        </button>

      </div>

    </div>
  </div>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

</tui-root>
