@import "src/styles/colors";

body {
  background-color: $dark-grey;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  //font-family: Montserrat !important;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[tuiButton][data-size='m'] {
  --tui-padding: 1rem;
}

[tuiButton][data-size='s'] {
  --tui-padding: 0.75rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.gap-05 {
  display: flex;
  gap: .5rem;
}

.gap-1 {
  display: flex;
  gap: 1rem;
}

tui-svg {
  svg {
    fill: none !important;
  }
}

tui-island,
tui-input,
tui-dialog {
  border-radius: 0 !important;
  border: 2px solid $dark-grey;
}

.lutra-button {
  background-color: $lutra-yellow;

  [tuiWrapper][data-appearance='outline'] {
    color: $black !important;
  }
}

tui-island {
  background-color: $dark-grey !important;
}

tui-island::before {
  border: 1px solid $light-grey-1 !important;
}

[tuiWrapper] {
  color: $light-grey-1 !important;
}

.tui-autofill input {
    background: $light-grey-2 !important;
  color: $dark-grey;
}

tui-dialog {
  .t-content {
    background: $light-grey-2 !important;
  }
}
