@import "src/styles/colors";

body {
  background-color: $main-grey;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  //font-family: Montserrat !important;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[tuiButton][data-size='m'] {
  --tui-padding: 1rem;
}

[tuiButton][data-size='s'] {
  --tui-padding: 0.75rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
